.form-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.form-control label{
    font-weight: bold;
    font-size: x-large;
}

.form-control button{
    padding: 0.5rem;
    width: 6rem;
    font-weight: bold;
    font-size: large;
    background-color: #1abc9c;;
    border-radius: 10px;
    border: 0px solid #7c7b7b;
}

.form-control button:hover{
    cursor: pointer;
    background-color: #159078;;
}


.input-field{
    padding: 0.5rem;
}

.input-field input{
    width: 40rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #7c7b7b;
    font-size: large;
}

.error input{
    width: 40rem;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid #b21818;
    font-size: large;
}

.error-paragraph{
    color: red;
    font-weight:lighter;
} 