.header-style{
    display: flex;
    padding: 5px;
    text-align: center;
    justify-content: space-between;
    background-color: #1abc9c;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.header-style h1{
    font-weight: lighter;
}
.header-style img{
    width: 3rem;
}

.logo{
    display: flex;
    flex-direction: row;
}