.header-style{
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: space-between;
    background-color: #1abc9c;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

