.burger-modal{
    display:flex;
    align-content: space-between;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 10%;
    min-width: 150px;
    height: 100vh;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-right 300ms ease-out forwards;
}

.burger-modal > button{
  justify-content: baseline;
  width: fit-content;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-size: medium;
  background-color: inherit;
  cursor: pointer;
}

.burger-modal * img{
  width: 1.5rem;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.link-buttons{
  display:flex;
  flex-direction: column;
}
.link-buttons button{
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-size: medium;
  background-color: inherit;
  cursor: pointer;
  transition: ease-out 0.3s;
  border-radius: 2px;
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 1rem;
  text-decoration: none;
}

.link-buttons button:hover{
  background-color: #1abc9c;
}

@keyframes slide-right {
    from {
      opacity: 0;
      transform: translateX(+10rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-left {
    from {
      opacity: 1;
      transform: translateX();
    }
    to {
      opacity: 0;
      transform: translateX(10rem);
    }
  }